.butt1{
    background-color: transparent;
    color: #23a6f0;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid white;
}
.buttons{
    display: flex;

    align-items: center;
    gap: 20px;
    justify-content: center;
}